beautifulsoup4~=4.13.5
PySide6~=6.9.2
jsonpath-ng~=1.7.0

# If downloading does not work, first thing to try is updating yt-dlp: `pip install -U yt-dlp`
# yt-dlp does not use semantic versioning, so putting version resctriction here won't do any good
yt-dlp
